<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Add Home</title>

    <link rel="stylesheet" href="/output.css" />
  </head>

  <body class="bg-gray-100">
    <nav class="bg-red-500 text-white shadow-md">
      <div class="max-w-6xl mx-auto flex gap-6 p-4">
        <a href="/" class="hover:text-gray-200 font-medium"> Go to Home </a>

        <a href="/host/add-home" class="hover:text-gray-200 font-medium">
          Add Home
        </a>
      </div>
    </nav>

    <div class="max-w-xl mx-auto mt-12">
      <div class="bg-white shadow-lg rounded-md p-8">
        <h1 class="text-3xl font-bold text-center mb-8">
          Register Your Home on AirBnB
        </h1>

        <form action="/host/add-home" method="POST">
          <input
            class="border w-full p-3 rounded mb-4"
            type="text"
            name="houseName"
            placeholder="Enter your Home Name"
          />

          <button
            class="w-full bg-red-500 hover:bg-red-600 text-white py-3 rounded font-semibold"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
